body {
    background-color: #6a7c9e;
    padding-left: 1em;
    padding-right: 1em;
    margin-left: 90px;
    margin-right: 90px; }
  
  h1{
    color: white;
    clear: both;
    padding-top: 2em;
    margin-bottom: 2em;
    float: middle;
  }
  
  h2, h3{
    color: white;

  }

  h1 a {
    color: #bb8800; 
  }
  
  nav ul {
    margin: 1ex auto;
    margin-left: 150px;
    height: 48px;
    font-weight: bold; }
    nav ul li {
      display: inline-block;
      width: 14.5%;
      margin-bottom: 1ex;
      }
      nav ul li a {
        text-align: center;
        display: block;
        color: white;
        background-color: #264470;
        border-radius: 50px 50px 50px;
        padding: 1ex 2ex; }
      nav ul li a:hover {
        color: #ffffff;
        background-color: white;
      }
    nav img {
      float:left;
      width: 193px;
      height: 193px;
    }
  
  footer {
    padding: 0.1ex 2em;
    margin-top: 2em;
    border-top: solid 2px #FACC15;
    background-color: #ecc8f0; }
  
  .message {
    margin-top: auto;
    border: #bb8000 solid 2px;
    font-size: 200%;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 1ex;
    border-radius: 10px;
  }
  
  .success {
    border-color: green;
  }
  
  .error {
    border-color: rgb(250, 250, 250);
  }

  p{
    color: white;
    text-align: justify;
    padding-left: 2em;
    padding-right: 2em;
    padding-top: 1em;
  }

  .pri{
    text-align: center;
    float:right;
    color: white;
    background-color: #b32b2b;
    border-radius: 50px 50px 50px;
    padding: 1ex 2ex;
  }

  .odh{
    text-align: center;
    float:right;
    color: white;
    background-color: rgb(12, 73, 12);
    border-radius: 50px 50px 50px;
    padding: 1ex 2ex;
  }

  .odhlaseni{
    text-align: center;
    float: right;
    width: 6.5%;
    display: block;
    color: white;
    background-color: #264470;
    border-radius: 50px 50px 50px;
    padding: 0.5px 0.5px; 
  }
  .uvod{
    background-color: #264470;
    border-radius: 50px 50px 50px;
    text-align: center
  }

  .zprava{
    background-color: #264470;
    padding: 1ex;
    border-radius: 8px;
    border: #264470 3px solid;
    border-radius: 50px 0px 50px;
  }

  .zprava .telo{
    margin-left: 7ex;
  }

  .tlvp{
    text-align: center;
    float: right;
    width: 6.5%;
    display: block;
    color: white;
    background-color: #264470;
    border-radius: 50px 50px 50px;
    padding: 0.5px 0.5px; 
  }

  .tlvl{
    text-align: center;
    float: left;
    width: 15%;
    display: block;
    color: white;
    background-color: #264470;
    border-radius: 50px 50px 50px;
    padding: 0.5px 0.5px; 
  }

  .zkrac{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

  .gen{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

  .nov{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-weight: bold;
  }

  .bunka{
    max-width: 800px;
    text-wrap: wrap;
    word-wrap: break-word;
    border: 1px solid white;
    padding: 8px;
    color: white;
  }

  .bunka_s{
    border: 1px solid white;
    padding: 8px;
    color: white;
  }

  .utab{
    color: white;
    text-align: left;
    width: 500px;
  }