{% extends 'base.html' %}

{% block obsah %}

<h1 class="zkrac">
Zkracovač pro vaše odkazy:
</h1>

<p class="zkrac"> 
Napište zde váš dlouhý odkaz a my vám ho zkrátíme! 
</p>

<form class="gen" method="POST">
 <textarea name="url"  cols="140" rows="1">

 </textarea>
            <p class="gen">
            <button type="submit">Vygenerovat novou url</button>
            </p>
</form> 
<p class="gen"> Vaše nová adresa:</p>
<p class="nov"> <a href="http://127.0.0.1:12345/zkracovac/{{shorturl}}">http://127.0.0.1:12345/zkracovac/{{shorturl}}</a></p>
{% endblock obsah %}